footer {
    background-color: #012626;
    height: 10vh;
    display: flex;
    align-items: center;
    grid-area: footer;
}

footer ul {
    margin: auto;
    list-style: none;
    display: flex;
}


footer ul li a {
    color: white;
    font-size: 1.5em;
    margin-left: 10px;
    margin-right: 10px;
}