.header {
    background-color: #0a192f;

    font-size: 17px;

    width: 100%;
    height: 10vh;

    padding: 25px 30px;  
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {
    color: #CCD6F6;  

    font-size: 1.2em;
    text-decoration: none;

    padding: 10px 10px 10px 0px;
}

.ul-list {
    display: flex;
    list-style: none;
}

.ul-list li   {
    color: #CCD6F6;

    font-size: 0.9em;
    text-decoration: none;

    padding: 10px;
    
    transition: 0.6s all;
}

.ul-list li:hover {
    color: #64FFDA;
}

.ul-list li:last-child {
    padding-right: 0px;
}

.ul-list li + li {
    margin-left: 10px;
}

