.header {
    background-color: #0a192f;

    font-size: 17px;

    width: 100%;
    height: 10vh;
    padding: 20px 30px 0px 30px;

    box-sizing: border-box;

    position: relative;

} 

.logo {
    color: white;
    text-decoration: none;
}

.header nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.sidenav-list {
    display: flex;
    list-style: none;
}

.sidenav-list li {
    letter-spacing: 1px;
}

.sidenav-list li + li {
    margin-left: 20px;
}

.sidenav-list a {
    color: white;
    text-decoration: none;
}

.btn-mobile-menu {
    padding: 5px;
    display: none;
}

/* @media screen and (max-width: 758px) {

    .sidenav-list {
        flex-direction: column;
        position: absolute;
        top: 100px;
        right: 50px;
    }

    .sidenav-list li + li {
        margin-left: 00px;
    }

    .btn-mobile-menu {
        display: block;
    }
} */