.line-medias {
    position: fixed;
    left: 50px;
    bottom: 50px;
    display: none;
}

.line-medias ul {
    list-style: none;
}

.line-medias ul li a {
    font-size: 1.5em;
    border: 1px solid white;
    color: #64FFDA;
}

.line-medias li + li {
    margin-top: 20px;
}