.sobre {
    padding: 0px 40px;
    position: relative;
    margin-bottom: 100px;
}

.sobre h2 {
    font-size: 2em;
    margin-bottom: 40px;
}

.sobre .descricao {
    font-size: 1.1em;
    text-align: justify;
    line-height: 1.5;
    margin-bottom: 20px;
}

.sobre h3 {
    font-size: 1.3em;
    margin-bottom: 5px;
}

.tecnologias-list, .cursos-list {
    columns: 2;
    list-style: none;
    margin-bottom: 20px;
}

.tecnologias-list li, .cursos-list li {
    text-indent: 50px;
    margin-bottom: 3px;
}